__pycache__/
*.pyc
db.sqlite3
docuguard_erp_db
.env
venv/
media/
Step_Pengerjaan_Vincent.md
Panduan_Git_Vincent.md
Dokumentasi_Vincent.md
ERD_Vincent.png
Flowchart_Vincent.png
UAS Project_Pembagian Tugas (1).docx